<!DOCTYPE html>
<html>
  <head>
    <title>PM 2.5 TEST</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include menu-layout %>
    <%- include pmtest-layout %>
    </div>
  </body>
</html>
